.tooltiper {
    display: inline-block;
}

.tooltiper .tooltiptext {
    display: none;
    visibility: hidden;
    right: 15%;
    max-width: 60%;
    background-color: #ff0000;
    color: #ffffff;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltiper:hover .tooltiptext {
    visibility: visible;
    display: block;
}