*{
	margin: 0;
	padding: 0;
}
body{
    width: 100%;
    height: 100%;
}

.container1 {
	width: 100%;
	height: 30px;
	background-color: #5bc0de;
}
.container1 a {
	margin-left: 1%;
}

.container2 {
	float: left;
	width: 10%;
	height: 100%;
	min-width: 150px;
	/*border: 1px solid #000000;*/
	/*background-color: #d9534f;*/
}
.horizontal-line {
	height: 1000px;
	width: 1px;
	border: 1px solid #000000;
}
.list-icon {
	margin-top: 6%;
	margin-bottom: 6%;
	min-height: 31px;
}
.list-icon button {
	cursor: pointer;
	vertical-align: sub;
	border: none;
	font-size: inherit;
	background-color: white;
}
.list-icon img {
	margin-left: 15%;
	margin-right: 5%;
	float: left;
	width: 30px;
	height: 30px;
}

.container3 {
	width: 90%;
	height: 100%;
	margin-left: 10%;
	/*border: 1px solid #000000;*/
}
.toolbar label {
	margin-left: 2%;
}
.toolbar div {
	margin-top: 5px;
}
.toolbar input {
	height: 20px;
}
.toolbar select {
	height: 25px;
	width: 100px;
}
.toolbar button {
	color: blue;
	cursor: pointer;
	border: none;
	font-size: inherit;
	margin-right: 15px;
	background-color: white;
}
.container3 .detail {
	margin-top: 1%;
}

.vertical-bar {
	width: 99%;
	border: 1px solid #000000;
}
table {
    width: 99%;
    table-layout: fixed;
}
th {
    text-align: left;
	font-weight: normal;
}
.table_style {
    margin: auto;
    background-color: #e2e2e2;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tr {
    height: 33px;
    text-align: left;
}

tr:hover td {
	background-color: #fcbb7a;
}

.div-img {
	float: left;
	width: 100px;
	margin: 1%;
}
#layout-img img {
	width: 100%;
}
#layout-img textarea {
	text-align: center;
	width: 100%;
	overflow: hidden;
	border: none;
	resize: none;
}

.file-name {
	cursor: pointer;
	border: none;
	font-size: inherit;
	background-color: transparent;
}
.actions {
	color: blue;
	cursor: pointer;
	border: none;
	font-size: inherit;
	margin-right: 10px;
	margin-left: 10px;
	background-color: transparent;
}

#foot {
	width: 100%;
	height: 30px;
	bottom: 0;
	background-color: #B5B2B0;
	position: absolute;
	z-index: 999;
}
.copyright {
	font-family: "Times New Roman";
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 100%;
	text-align:center;
}

#foot .copyright p {
	height: 50%;
	width: 100%;
}