{% extends 'template.html' %}
{% load static %}

{% block addcss %}
<link rel="stylesheet" href="{% static 'editor.md/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'editor.md/css/editormd.css' %}" />
{% endblock %}
{% block addbody %}
        <div id="layout">
            <header>
                <h1>Expanded Editor.md</h1>
            </header>
            <div id="editormd">
                <textarea style="display:none;">{{ content|safe }}</textarea>
            </div>
        </div>        
        <script src="{% static 'editor.md/js/editormd.js' %}"></script>
        <script src="{% static 'js/md.js' %}"></script>
{% endblock %}