{% extends 'template.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block addjs %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{% endblock %}

{% block addbody %}
    <div class="container1">
        <a target="_blank" onclick="get_root_folder()">我的云盘</a>
    </div>
    <div class="container2">
        <div class="list-icon">
            <img src="{% static 'img/favicon.ico' %}">
            <button onclick="get_root_folder()">我的云盘</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/imageres_1023.ico' %}">
            <button onclick="recent_file()">最新文件</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/imageres_1002.ico' %}">
            <button onclick="files_format('document')">我的文档</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/docx.png' %}">
            <button onclick="files_format('docx')">Word文档</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/excel.png' %}">
            <button onclick="files_format('xlsx')">Excel表格</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/ppt.png' %}">
            <button onclick="files_format('pptx')">PPT幻灯片</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/pdf.png' %}">
            <button onclick="files_format('pdf')">PDF文档</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/imageres_1003.ico' %}">
            <button onclick="files_format('image')">图片</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/imageres_1005.ico' %}">
            <button onclick="files_format('video')">视频</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/imageres_1004.ico' %}">
            <button onclick="files_format('music')">音乐</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/share.png' %}">
            <button onclick="get_share_file()">我的分享</button>
        </div>
        <div class="list-icon">
            <img src="{% static 'img/garbage.png' %}">
            <button onclick="get_garbage(1)">回收站</button>
        </div>
        <div class="list-icon" style="display: none;">
            <img src="{% static 'img/imageres_3.ico' %}">
            <button>其他</button>
        </div>
    </div>
    <!--div class="horizontal-line"></div-->
    <div class="container3">
        <div class="toolbar">
            <div class="left-arrow" title="返回上一级目录">
                <a href="javascript:return_folder()"><img src="{% static 'img/arrow.png' %}"></a>
            </div>
            <div>
                <label>当前路径：
                    <input type="text" style="width: 39%;" id="current_path" value="" name="520" readonly>
                </label>
                <label style="float: right; margin-right: 3%; width: 25%;">
                    <input type="text" style="width: 70%;" id="search" name="" placeholder="搜索所有文件">
                    <button style="width: 20%;" onclick="search_file()">搜索</button>
                </label>
            </div>
            <div class="vertical-bar"></div>
            <div>
                <label>布局：
                    <select id="layout" onchange="refresh_folder()">
                        <option value="0" selected>详细信息</option>
                        <option value="1">大图标</option>
                        <option value="2">中图标</option>
                        <option value="3">小图标</option>
                    </select>
                </label>
                <label>排序类型：
                    <select id="sort_type" onchange="refresh_folder()">
                        <option value="name">名称</option>
                        <option value="size">大小</option>
                        <option value="format">格式</option>
                        <option value="create_time">创建时间</option>
                        <option value="update_time" selected>修改时间</option>
                    </select>
                </label>
                <label>排序方式：
                    <select id="sorted" onchange="refresh_folder()">
                        <option value="desc" selected>递减</option>
                        <option value="asc">递增</option>
                    </select>
                </label>
                <label id="operation">操作：
                    <button onclick="upload_file()">上传</button>
                    <button onclick="op_selected('download')">下载</button>
                    <button onclick="create_folder()">新建文件夹</button>
                    <button onclick="op_selected('move')">移动</button>
                    <button onclick="op_selected('delete')">删除</button>
                </label>
{#                <form action="" id ="fileUpload-form">#}
                    <input type="file" name="filename" id="fileUpload-input" multiple style="display: none">
{#                </form>#}
            </div>
            <div class="vertical-bar"></div>
        </div>
        <div class="detail">
            <table id="layout-table">
                <thead><tr class="table_style"></tr></thead>
                <tbody id="tbody"></tbody>
            </table>
            <div id="layout-img"></div>
        </div>
    </div>
    <div id="myModal"></div>
    <div id="moving"></div>
    <div class="modal_cover">
        <div class="modal_gif"></div>
        <progress id="progressBar" value="0" max="100"></progress>
        <span id="percentage"></span>
    </div>
{% block fenye %}
    <div class="fenye"><ul id="paging" class="pagination"></ul></div>
{% endblock %}
{% endblock %}
{% block backjs %}
    <script src="{% static 'js/fenye.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
